@charset 'utf-8';

body{
  background-color: #000;
}

.initialPage{
  width: 100vw;
  height: 100vh;
}

.container{
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

h1{
  background-color: blue;
  color: aliceblue;
  border: 3px double black;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

