@charset 'utf-8';

body {
  background-color: #0c1821;
  line-height: 1.7;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #0c1821;
}

/* initial-screen
------------------------------ */
/* Game start時にJavaScriptから display:none; でScreenを非表示にする */
#initial-screen {
  display: block;
  height: 100vh;
  color: #f1faee;
}

.initial-header {
  padding: 1.1em 0;
  border-radius: 1.1em;
}

.initial-header h1 {
  /* <<<<<<<<<<<<<<<<<<<======================== faviconでgameplay説明 */
  font-size: 3em;
  text-align: center;
  border: double 4px #555;
}

.select-menu {
  text-align: center;
  margin-top: 1.7em;
}

#btn-menu {
  padding: 0.7em 1.2em;
  background-color: #1d3557;
  border: #457b9d solid 2px;
  color: #f1faee;
  border-radius: 1.2em;
}

#btn-menu:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
}

.initial-main {
  text-align: center;
  margin: 5% 0;
}

#gameStart {
  padding: 1.1em;
  margin: 5% 1.1em;
  background-color: #1d3557;
  color: #f1faee;
  border: #457b9d solid 2px;
  border-radius: 1.2em;
}

#gameStart:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
}






/* main-screen
------------------------------ */
/* Game start時にJavaScriptから display:block; でScreenを表示させる */
#main-screen {
  display: none;
  height: 100vh;
  margin-top: 0;
  color: #1d3557;
  background-color: #000;
}

/* score_display */
.main-header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  margin-bottom: 1.5rem;
  border: 3px solid #555;
  box-sizing: border-box;
}

.drawInfo {
  display: flex;
  width: 100 / 3%;
  margin: 1.2em 3em;
  padding: 1.1em 3em;
  border: #457b9d solid 2px;
  border-radius: 1.2em;
  background-color: #f1faee;
}

.score-board{
  display: flex;
}

.score-board li{
  list-style-type: none;
  padding: 0 4em;
}

/* main_display */
.main-contents {
  display: flex;
  justify-content: center;
  margin-top: 4.5em;
  width: 85%;
  background-color: #000;
}

/* canvas */
#canvas {
  background-color: #000;
}

/* onStopButton */
#onStopBtn {
  padding: 1.1em;
  margin: 1.2em 1.1em;
  background-color: #1d3557;
  color: #f1faee;
  border: #457b9d solid 2px;
  border-radius: 1.2em;
}

#onStopBtn:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
}

/* ReStart・Reset */
.btn-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

#onStopBtn{
  align-items: center;
  position: absolute;
  bottom: 10px;
  display: block;
  margin: 0 1.1em;
}

/* resetBtn */
#resetBtn {
  padding: 0.7em;
  margin: 1.2em 1.1em;
  background-color: #1d3557;
  color: #f1faee;
  border: #457b9d double 5px;
  border-radius: 1.1em;
}

#resetBtn:hover {
  background-color: #ff0000;
  color: #a8dadc;
  transform: scale(1.2);
}
