@charset 'utf-8';

html {
  font-size: 100%;
  background-color: #000;
}

body {
  line-height: 1.7;
}

.wrapper {
  width: 1100px;
  max-width: 100vw;
  margin: 0 auto;
}

/* ----- ロード画面 ----- */

#load {
  position: absolute;
  width: 600px;
  height: 36px;
  left: 50%;
  top: 40%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #a8dadc;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

/* volume */
#vol-initial {
  padding: 0.3em 1em;
  margin: 0 2em;
  background-color: #1d3557;
  border: #457b9d solid 2px;
  color: #f1faee;
  border-radius: 1.2em;
}

#vol-img {
  vertical-align: middle;
}

#vol-initial:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
  opacity: 0.6;
}

/* ----- initial-screen ------ */
/* ロード画面終了時に切り替え */
#initial-screen {
  display: none;
  height: 100vh;
  color: #f1faee;
}

.initial-header {
  padding: 4em 0;
}

.initial-header h1 {
  font-size: 2em;
  text-align: center;
}

.select-menu {
  text-align: center;
  margin-top: 2em;
  position: relative;
}

#btn-menu {
  padding: 0.3em 1.2em;
  margin: 0 2em;
  background-color: #1d3557;
  border: #457b9d solid 2px;
  color: #f1faee;
  border-radius: 1.2em;
}

#btn-menu:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
  opacity: 0.6;
}

/* ----- ゲームのルール説明 ------ */
.more {
  display: none;
  color: #f1faee;
}

.expray span {
  font-weight: bold;
  font-size: 110%;
  color: #f1faee;
  text-shadow: 3px 2px 2px #000;
}

.expray li {
  color: #f1faee;
  text-align: center;
}

.rule-expray,
.key-operation {
  list-style-type: none;
  margin-bottom: 1em;
  font-size: bold;
  font-weight: bold;
  text-shadow: 4px 3px 4px #000;
}

.more ul {
  margin: 16px;
  padding: 0;
  list-style: none;
}

.more.appear {
  display: block;
  animation: 1.2s fadeIn;
  width: 500px;
  padding: 0.4em;
  border-radius: 2em;
  background-color: #1e2b3bdf;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* ----- オープニング画像 ------ */
.opening-img {
  text-align: center;
  position: relative;
  z-index: 1;
}

.opening-img img {
  width: 50%;
  height: 50%;
}

/* ----- ゲームスタートボタン ------ */
.initial-main {
  text-align: center;
  position: relative;
  z-index: 1;
}

#gameStart {
  padding: 1.1em;
  margin: 5% 1.1em;
  background-color: #1d3557;
  color: #f1faee;
  border: #457b9d solid 2px;
  border-radius: 1.2em;
}

#gameStart:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
}

/* ----- main-screen ----- */
#main-screen {
  display: none;
  height: 100vh;
  margin-top: 0;
  color: #1d3557;
  background-image: url("img/tetris_bg2.jpg");
  background-position: center;
  background-size: contain;
  min-height: 100vh;
}

/* score_display */
.main-header {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.drawInfo {
  display: flex;
  width: 100 / 3%;
  margin-top: 3em;
  padding: 1.1em 3em;
  border: #f1faee double 3px;
  border-radius: 1.2em;
  background-color: #000;
  color: #f1faee;
}

.score-board {
  display: flex;
}

.score-board li {
  list-style-type: none;
  padding: 0 4em;
}

/* main_display */
.main-contents {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
  width: 85%;
  background-color: #000;
  vertical-align: bottom;
}

/* canvas */
#canvas {
  background-color: #000;
}

/* onStopButton */
#onStopBtn {
  padding: 1.1em;
  margin: 1.2em 1.1em;
  background-color: #284b63;
  color: #f1faee;
  border: #457b9d solid 2px;
  border-radius: 1.2em;
}

/* --- info-right --- */
.info-right {
  justify-content: space-between;
  margin-left: 5em;
  margin-top: 2em;
  vertical-align: top;
}

/* ----- muteBtn ----- */
.btn-set {
  margin-top: 4em;
}

#main-vol {
  padding: 0.4em;
  margin-bottom: 4em;
  margin-left: 2em;
  background-color: #284b63;
  color: #f1faee;
  border: #457b9d double 5px;
  border-radius: 1.1em;
}

#onStopBtn,
#resetBtn {
  padding: 0.7em;
  margin: 1.2em 1.1em;
  background-color: #284b63;
  color: #f1faee;
  border: #457b9d double 5px;
  border-radius: 1.1em;
}

/* --- onStopBtn --- */
#onStopBtn:hover {
  background-color: #a8dadc;
  color: #1d3557;
  transform: scale(1.1);
}

/* --- resetBtn --- */
#resetBtn:hover {
  background-color: #ff0000;
  color: #a8dadc;
  transform: scale(1.2);
}

/* ----- responsive ------ */
@media (max-width: 768px) {

  #main-screen {
    width: 100vw;
    height: 100vh;
    background-color: #adb5bd;
    background-image: none;
  }

  .wrapper {
    font-size: 50%;
    padding: 1.5em;
    margin-top: 0;
  }

  .drawInfo {
    padding: 0 1.5em;
    margin-top: -1em;
  }


  .main-contents {
    border-radius: 0.6em;
  }

  .info-right{
    margin-top: 1em;
  }

  #canvas {
    margin-left: 2.5em;
    width: 100%;
    height: 100%;
  }

  #canvas-side {
    margin-right: 2em;
    margin-top: -2em;
    width: 80%;
    height: 80%;
  }

  .btn-set {
    margin-top: 0;
  }

  #responsive-screen {
    color: #f1faee;
  }

  .res-controller {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 0.2em;
  }

  /* --- button --- */
  .res-controller button {
    display: inline-block;
    background-color: rgb(55, 71, 79);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px rgb(37, 49, 55);
  }

  .res-controller button:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }

  /* --- controller 左 (回転) --- */
  .con-left {
    display: grid;
    align-items: center;
  }

  .con-left button {
    padding: 40px;
    color: #f1faee;
    background-color: #284b63;
    border-radius: 50%;
  }

  /* --- controller 右 --- */
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .con-right button {
    padding: 20px;
    margin: -15px;
    color: #284b63;
    background-color: #f1faee;
    border-radius: 50%;
  }

  .item {
    padding: 20px;
  }
}
